


*{
    box-sizing: border-box;
}
body{
    background: url(../img/background.jpg);
}
#headmain{
    height: 270px;
    width: 100%;
    border-bottom: 5px solid rgb(241, 217, 186);
    margin-bottom: 30px;
    background: url(../img/background-cookie.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
}
#head{
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
#midmain{
    width: 65%;
    margin: 0 auto;
    height: 500px;
    background: url(../img/background-function.jpg);
    background-position: center;
    background-repeat: auto;
    padding: 20px;
}
#counter{
    text-align: center;
    font-size: 30px;
}
#cookie{
    max-width: 240px;
    width: 100%;
    display: block;
    margin: 0 auto;
    transition: .2s ease;
    cursor: pointer;

}
#cookie:hover{
    transform: scale(1.1);
}
button{
    border: none;
    font-size: 20px;
    display: table;
    margin: 0 auto;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}